<% include head %>
<div class="jumbotron">
<pre>
<center>华电帮帮邦服务条款</center>
　　　尊敬的用户您好，您在接受华电帮帮邦网站服务之前，请务必仔细阅读并透彻理解本声明。您可以选择不使用华电帮帮邦网站的服务，但如果您使用华电帮帮邦服务的，您的使用行为将被视为对本声明全部内容的认可。
　　　 “华电帮帮邦”是由华电帮帮邦团队研发和管理的，域名：ncepubbb.com。华电帮帮邦团队拥有“华电帮帮邦”网站一切的版权所有，未经允许，禁止侵权，鉴于华电帮帮邦提供的服务属于电子公告牌（BBS）服务，华电帮帮邦网站上关于华电帮帮邦会员或其发布的相关商品（包括但不限于店铺名称、公司名称、 联系人及联络信息，产品的描述和说明，相关图片、视讯等）的信息均由用户自行提供，用户依法应对其提供的任何信息承担全部责任。
（一）隐私权条款
　　　华电帮帮邦尊重并保护所有使用华电帮帮邦服务用户的个人隐私权。为了给您提供更准确、更有个性化的服务，华电帮帮邦会按照本隐私权政策的规定使用和披露您的个人信息。但华电帮帮邦将以高度的勤勉、审慎义务对待这些信息。华电帮帮邦会不时更新本隐私权政策。 您在同意华电帮帮邦服务条款之时，即视为您已经同意本隐私权政策全部内容。本隐私权政策属于华电帮帮邦服务条款不可分割的一部分。
　　　1. 适用范围
　　　a）在您使用华电帮帮邦网站服务，或访问华电帮帮邦网站中的网页时，华电帮帮邦自动接收并记录的您的浏览器和计算机上的信息，包括但不限于您的IP地址、浏览器的类型、使用的语言、访问日期和时间及您需求的网页记录等数据。
　　　b） 华电帮帮邦通过合法途径从商业伙伴处取得的用户个人数据。
　　　2. 信息使用
　　　a) 华电帮帮邦不会向任何无关第三方提供、出售、出租、分享或交易您的个人信息，除非事先得到您的许可。
　　　b)华电帮帮邦亦不允许任何第三方以任何手段收集、编辑、出售或者无偿传播您的个人信息。任何华电帮帮邦用户如从事上述活动，一经发现，华电帮帮邦有权立即终止与该用户的服务协议。
　　　c) 华电帮帮邦可以使用您的个人信息以预防、发现、调查欺诈、危害安全、非法或违反国家政策的行为，以保护您、其他华电帮帮邦用户的合法权益。
　　　3. 信息披露
　　　在如下情况下，华电帮帮邦将依据您的个人意愿或法律的规定全部或部分的披露您的个人信息：
　　　a) 经您事先同意，向第三方披露；
　　　b) 根据法律的有关规定，或者行政或司法机构的要求，向第三方或者行政、司法机构披露；
　　　c) 如您出现违反中国有关法律、法规或者华电帮帮邦服务条款或相关规则的情况，需要向第三方披露；
　　　d) 为提供您所要求的产品和服务，而必须和第三方分享您的个人信息；
　　　4. Cookie的使用
　　　a) 在您未拒绝接受cookies的情况下，华电帮帮邦会在您的计算机上设定或取用cookies。华电帮帮邦使用cookies可为您提供更加周到的个性化服务，包括推广服务。
　　　b) 您有权选择接受或拒绝接受cookies。您可以通过修改浏览器设置的方式拒绝接受cookies。但如果您选择拒绝接受cookies，则您可能无法登录或使用依赖于cookies的华电帮帮邦服务或功能。
　　　6. 信息安全
　　　a)请妥善保管您的账户及密码信息。由于用户将个人密码告知他人或与他人共享注册账户导致的任何个人资料或信息的泄露，华电帮帮邦将不承担责任，造成的损失由用户个人承担。因此也请您注意在信息网络上不存在“完善的安全措施”。
　　　b) 在使用华电帮帮邦网站服务进行交易时，您不可避免的要向交易对方或潜在的交易对方披露自己的个人信息，如联络方式。请您妥善保护自己的个人信息，仅在必要的情形下向他人提供。如您发现自己的个人信息泄密，尤其是你的账户及密码发生泄露，请您立即联络华电帮帮邦客服，以便华电帮帮邦采取相应措施。
（二）其他免责条款
　　当出现以下情况时，华电帮帮邦免责。
（1） 外在因素造成的信息损失：
　　任何由于计算机软硬件问题、黑客攻击、计算机病毒侵入或发作、因政府管制而造成的暂时性关闭等不可抗力因素影响网络正常运作，而造成有关的信息、记录丢失甚至个人资料的泄露、丢失、被窜改或被盗用等，网站将不承担责任。但是我们将会尽力协助处理善后事宜，并努力使客户减少遭受的损失。
（2）因使用华电帮帮邦引致的纠纷
　　因使用华电帮帮邦而引致之任何意外、疏忽、诽谤、版权或知识产权侵犯及其所造成的损失（包括因下载而感染电脑病毒），华电帮帮邦不承担任何法律责任。
（4）由于物品信息不符
　　华电帮帮邦努力提供准确无误的资料信息，但是仍可能包括不实信息(假冒、侵权）或一些不健康信息（尤其是有毒商品、黄色信息），由于人力所限，华电帮帮邦团队不能一一核查。网站客服人员将随时修改或更改这些不真实不合法的资料信息，但不对资料信息错误承担责任。假如发布人向华电帮帮邦提供错误、不完整、不实信息等造成不能正常使用华电帮帮邦网站服务或遭受其他相应损失，应由发布人自行承担。
（5） 由于发布人信息不符
　　在华电帮帮邦活跃的用户群一般为华电师生，为了确定其身份，网站将审核个人有效证件。但用户应在交易时仔细核对卖家的信息，如需付款，应在付款前仔细检查物品是否符合要求。付款后再发现问题，只能私自与卖家沟通，华电帮帮邦网站及团队不承担任何责任。
（6）版权
　　华电帮帮邦充分尊重有关方的知识产权和版权的协议。请在转载有关文章或者使用有关企业商标时务必尊重其知识产权，否则与之有关的纠纷华电帮帮邦网站和团队免责。同时，对华电帮帮邦中的原创作品或者设计，华电帮帮邦将享有完全的自主知识产权。凡侵犯华电帮帮邦知识产权的，华电帮帮邦有权采取一切合法的手段追究其法律责任。
（7）通过二手市场链接到其他网页的交易
　　用户通过华电帮帮邦网站链接到其他网站平台交易，因此造成的任何损失，华电帮帮邦不承担责任。因此提醒广大用户，慎重使用链接。
（8）由于疏忽没有认真审核卖家的身份
　　在华电帮帮邦网站进行的活动的一般是华电师生，为了确定其身份，应在交易时仔细核对对方的信息，由于个人的疏忽没有审核清楚卖家的身份造成的损失，华电帮帮邦不承担责任。
　　华电帮帮邦对上述内容具有最终解释权。
　　以上声明于2014年02月26日公布并生效。                                                         
</pre>
</div>
<% include foot_script %>
<% include foot_close %>