<% include head %>
<div class="jumbotron">
<pre>
<center>华电帮帮邦网站使用上的几点说明</center>
    华电帮帮邦的使用简单易上手，我们将对以下一些使用进行说明。
注册信息说明：
　　在导航处点击“注册”打开注册界面。用户名、密码、手机号码、微信号（或QQ号）为必填内容。学号和一卡通图片（或学生证图片）为选填内容，学号与一卡通信息会经过网站工作人员审核，审核后将自动升级为星级用户，获得更完整的服务。其中手机号码将仅对通过审核的星级用户公开，微信号或QQ号将对网站所有用户公开。
2）添加商品/请求说明：
　　登陆后点击导航栏或界面上“添加请求”，即可出现添加请求界面，其中标题、描述和标签为必填，图片为选填。
　　其中描述一栏在主要是用于填写你所能提供或者说你所需要的报酬。标签是为了便于用户搜索到同类商品，请您认真客观的填写，选择最常见的词语。
　　此时请求状态为“未达成”，可对商品进行修改和删除。在交易完成后需要您完成类似“确认收货”的步骤，把商品手动修改为“已达成”
3）请求的类型主要包括：
一、二手物品的出售/求购。（包括但不限于以下物品）
    包括二手鞋子、衣服（写明新旧程度，来源、尺码）
    学校周边的公寓转租、出售（写明地点，价格）
    旧书本（包含教材、参考书、课外书）
    校内交通工具：电动车、自行车
    电子产品：手机、mp3、充电器、移动充、有的专业所需要的电子产品（比如数位板）、相机、U盘、耳机、收音机、电脑、小音箱、小台灯、路由器
    宿舍可用运动器材：哑铃、羽毛球拍、
    暂借会员卡及出售一些会员卡、健身卡
    音乐器材：吉他为主，电子琴、
    门票：学校内表演、其他演唱会、景点门票、
    宿舍用品：大衣柜、密码箱、桌子椅子
    女生衣服包包鞋子及闲置化妆品、护肤品
    限量版的权限
    吃的（茶叶、零食）
二、互帮互助请求的提出和接受
　　包括求叫醒，求取快递，求提东西，求带夜宵，有急事求帮忙做实验，求大神指导（包括学习和技术），求各种店的会员卡/代金券/美食情报的分享以及相应的提供方。
三、求组团
　　包括组团进行旅游/报考驾校/团购网上的某样东西或者组团有优惠之类的。
4）客服：在网页的最下部有客服的联系方式，如图用户可通过电话、微信联系客服。
5）目前网站将请求均放于“互帮互助/二手交易区”，网站将会尽快更新优化。
6）本网站同时有微信端微网站，微网站使用说明将会在微信端说明，请关注微信号ncepubbb。
</pre>
</div>
<% include foot_script %>
<% include foot_close %>